@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@600&family=Permanent+Marker&display=swap');
/* From Google Fonts */

/* Reset CSS */
html,
body,
div,
span,
h1,
h2,
h3,
p,
img,
a,
small,
center,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
footer,
header,
nav,
section {
  margin: 0;
  padding: 0;
  border: 0;
}

/*
color palette generator : https://coolors.co/e42548-ee969c-e0c190-796753 
Color palette:-
>> azul >> #236db7 (blue) >> rgba(35, 109, 183, 1)
>> chocolate cosmos (dark purple) >> #491d29 >> rgba(73, 29, 41, 1)
>> cadet gray (light gray) >> #9bacbf >> rgba(155, 172, 191, 1)
>> charcoal (dark blue) >> #344a5b >> rgba(52, 74, 91, 1)
>> very light blue almost white >> #cde3c9 >> rgba(205, 227, 201, 1)
>> air force blue (light blue) >> #6c879d >> rgba(108, 135, 157, 1)
*/

/* Converting to RGBA or you can just download the color palette from the colors generator as rgb
I used https://rgbacolorpicker.com/hex-to-rgba 
to convert HEX to RGBA when I want to control the opacity 
of the background without affecting the words that are written inside that element
*/

/*i used format document option for each css document*/

body {
  box-sizing: border-box;
  background-image: url("../CapyImages/light\ gray\ background.png");
  background-repeat: no-repeat; /* Prevent the background image from repeating */
  background-size: cover; /* Cover the entire background, maintaining aspect ratio */
}

.navbar{
  position:relative;
  width:100vw;
  height:200px;
  background: rgba(155, 172, 191, 1);
  background: linear-gradient(180deg, rgba(108, 135, 157, 0.4) 34%, rgba(73, 29, 41, 0.7) 100%);
  border-bottom: 2px solid rgba(73, 29, 41, 1);
}

nav img{
  height:120px;
  width:120px;
  margin-left:20%;
  cursor: pointer;
}

.container-fluid .navbar-brand{
  color:rgba(73, 29, 41, 1);
  font-weight: bold;
  font-size: 30px;
}


.container-fluid .navbar-brand:hover{
  color:#cde3c9;
}

.offcanvas-title#offcanvasNavbarLabel {
  font-family: 'Oswald', sans-serif;
  font-family: 'Permanent Marker', cursive;
  font-size: 40px;
  font-weight: bold;
  color: #344a5b;
}

.offcanvas-body .navbar-nav .nav-item .nav-link {
  color: #344a5b;
  font-weight: bold;
  font-size:20px;
}

.offcanvas-body .navbar-nav .nav-item .nav-link:hover {
  color: rgba(73, 29, 41, 0.8);
}

nav h1 {
  /*from google fonts*/
  font-family: 'Oswald', sans-serif;
  font-family: 'Permanent Marker', cursive;
  font-size: 40px;
  font-weight: bold;
  float: right;
  position: absolute;
  top: 10px;
  right: 15px;
  color: rgba(73, 29, 41, 1);
}

.offcanvas-header ,.offcanvas-body{
  background-color: rgba(155, 172, 191, 1);
}

.container-fluid .navbar-toggler{
 background-color: #344a5b; 
}

.offcanvas-header .btn-close {
  background-color: rgba(73, 29, 41, 1); /* Set the background color */
  border: 1px solid #cde3c9; /* Set the border color */
}

/* Optionally, you can add hover styles for better user interaction */
.offcanvas-header .btn-close:hover {
  color: #cde3c9; /* Set hover text (icon) color */
  background-color: rgba(73, 29, 41, 1); /* Set hover background color */
  border: 1px solid #cde3c9; /* Set hover border color */
}

.offcanvas-body .nav-item .dropdown-menu {
  background-color: rgba(73, 29, 41, 0.5);
}

.offcanvas-body .nav-item .dropdown-menu .dropdown-item{
  color:rgba(73, 29, 41, 1);
  font-weight: bold;
}

.offcanvas-body .nav-item .dropdown-menu .dropdown-item:hover{
  background-color: rgba(155, 172, 191, 1);
}


main {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.input {
  width: 450px;
  background: rgba(73, 29, 41, 0.4);
  border: 5px solid #344a5b;
  backdrop-filter: blur(20px);
  box-shadow: 0 0 10px #344a5b;
  color: #cde3c9;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 30px;
}

.input h1 {
  font-size: 40px;
  font-weight: bold;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  margin-bottom: 20px;

}

.BoxIn {
  width: 100%;
  margin: 20px 0;
  position: relative;
}

.BoxIn input {
  width: calc(100% - 40px);
  height: 100%;
  background: rgba(205, 227, 201, 1);
  background: radial-gradient(circle, rgba(73, 29, 41, 0.3) 0%, rgba(205, 227, 201, 0.5) 100%);
  border: none;
  outline: none;
  border: 2px solid #344a5b;
  border-radius: 40px;
  font-size: 16px;
  color: rgba(205, 227, 201, 1);
  padding: 20px;
}

.BoxIn input::placeholder {
  color: rgba(52, 74, 91, 1);
  font-weight: bold;
}

.BoxIn i {
  right: 20px;
  top: 50%;
  font-size: 20px;
}

.BoxIn label {
  font-size: 20px;
  font-weight: bold;
}

.Remember {
  display: flex;
  justify-content: space-between;
  font-size: 14.5px;
  margin: 15px 0;
}

.Remember label input {
  accent-color: #9bacbf;
  margin-right: 3px;
}

.MyBtn {
  width: 100%;
  height: 45px;
  background: rgba(205, 227, 201, 0.8);
  border: 2px solid #9bacbf;
  border-radius: 40px;
  box-shadow: 0 0 10px #344a5b;
  font-size: 18px;
  color: rgba(73, 29, 41, 1);
  font-weight: bold;
}

.MyBtn:hover{
  background-color: rgba(73, 29, 41, 1);
  color:#cde3c9;
  cursor: pointer;
}

.Register {
  font-size: 14.5px;
  text-align: center;
  margin: 20px 0 15px;
}

.Register p a {
  color: rgba(52, 74, 91, 1);
  text-decoration: none;
  font-weight: 600;
}

.Register p a:hover {
  text-decoration: underline;
}


footer hr {
  border: 3px solid #344a5b;
}

footer p {
  text-align: center;
  color: rgba(73, 29, 41, 1);
  font-weight: bold;
  font-family: 'Oswald', sans-serif;
  font-family: 'Permanent Marker', cursive;
  font-size: 20px;
}

.containerFooter {
  display: flex;
  width:100%;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.containerFooter img {
  height: 190px;
  width: 170px;
  object-fit: cover;
  border: 4px solid rgba(73, 29, 41, 1);
  margin: 20px 30px;
}


@media only screen and (max-width: 768px) {
  body {
    background-size: auto;
  }

  .navbar img {
    margin-left: 10%;
  }

  .container-fluid .navbar-brand {
    font-size: 20px;
  }

  nav h1 {
    font-size: 20px;
    top: 5px;
    right: 5px;
  }

  .offcanvas-title#offcanvasNavbarLabel {
    font-size: 30px;
  }

  .offcanvas-body .navbar-nav .nav-item .nav-link {
    font-size: 16px;
  }

  .product1,
  .product2,
  .product3,
  .product4,
  .product5,
  .product6,
  .product7,
  .product8,
  .product9,
  .product10,
  .product11,
  .product12 {
    max-width: 100%;
    margin: 10px 5px;
  }

  .product1 img,
  .product2 img,
  .product3 img,
  .product4 img,
  .product5 img,
  .product6 img,
  .product7 img,
  .product8 img,
  .product9 img,
  .product10 img,
  .product11 img,
  .product12 img {
    max-width: 100%;
    margin: 10px 0;
  }

  footer img {
    height: 100px;
    width: 90px;
    margin: 10px 15px;
  }

}
