@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@600&family=Permanent+Marker&display=swap');
/* From Google Fonts */

/* Reset CSS */
html,
body,
div,
span,
h1,
h2,
h3,
p,
img,
a,
small,
center,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
footer,
header,
nav,
section {
  margin: 0;
  padding: 0;
  border: 0;
}

/*
color palette generator : https://coolors.co/e42548-ee969c-e0c190-796753 
Color palette:-
>> azul >> #236db7 (blue) >> rgba(35, 109, 183, 1)
>> chocolate cosmos (dark purple) >> #491d29 >> rgba(73, 29, 41, 1)
>> cadet gray (light gray) >> #9bacbf >> rgba(155, 172, 191, 1)
>> charcoal (dark blue) >> #344a5b >> rgba(52, 74, 91, 1)
>> very light blue almost white >> #cde3c9 >> rgba(205, 227, 201, 1)
>> air force blue (light blue) >> #6c879d >> rgba(108, 135, 157, 1)
*/

/* Converting to RGBA or you can just download the color palette from the colors generator as rgb
I used https://rgbacolorpicker.com/hex-to-rgba 
to convert HEX to RGBA when I want to control the opacity 
of the background without affecting the words that are written inside that element
*/

/*i used format document option for each css document*/

body {
  box-sizing: border-box;
  background-image: url("../CapyImages/light\ gray\ background.png");
  background-repeat: no-repeat; /* Prevent the background image from repeating */
  background-size: cover; /* Cover the entire background, maintaining aspect ratio */
}

.navbar{
  position:relative;
  width:100vw;
  height:200px;
  background: rgba(155, 172, 191, 1);
  background: linear-gradient(180deg, rgba(108, 135, 157, 0.4) 34%, rgba(73, 29, 41, 0.7) 100%);
  border-bottom: 2px solid rgba(73, 29, 41, 1);
}

nav img{
  height:120px;
  width:120px;
  margin-left:20%;
  cursor: pointer;
}

.container-fluid .navbar-brand{
  color:rgba(73, 29, 41, 1);
  font-weight: bold;
  font-size: 30px;
}

.container-fluid .navbar-brand:hover{
  color:#cde3c9;
}

.offcanvas-title#offcanvasNavbarLabel {
  font-family: 'Oswald', sans-serif;
  font-family: 'Permanent Marker', cursive;
  font-size: 40px;
  font-weight: bold;
  color: #344a5b;
}

.offcanvas-body .navbar-nav .nav-item .nav-link {
  color: #344a5b;
  font-weight: bold;
  font-size:20px;
}

.offcanvas-body .navbar-nav .nav-item .nav-link:hover {
  color: rgba(73, 29, 41, 0.8);
}

nav h1 {
  /*from google fonts*/
  font-family: 'Oswald', sans-serif;
  font-family: 'Permanent Marker', cursive;
  font-size: 40px;
  font-weight: bold;
  float: right;
  position: absolute;
  top: 10px;
  right: 15px;
  color: rgba(73, 29, 41, 1);
}

.offcanvas-header ,.offcanvas-body{
  background-color: rgba(155, 172, 191, 1);
}

.container-fluid .navbar-toggler{
 background-color: #344a5b; 
}

.offcanvas-header .btn-close {
  background-color: rgba(73, 29, 41, 1); /* Set the background color */
  border: 1px solid #cde3c9; /* Set the border color */
}

/* Optionally, you can add hover styles for better user interaction */
.offcanvas-header .btn-close:hover {
  color: #cde3c9; /* Set hover text (icon) color */
  background-color: rgba(73, 29, 41, 1); /* Set hover background color */
  border: 1px solid #cde3c9; /* Set hover border color */
}

.offcanvas-body .nav-item .dropdown-menu {
  background-color: rgba(73, 29, 41, 0.5);
}

.offcanvas-body .nav-item .dropdown-menu .dropdown-item{
  color:rgba(73, 29, 41, 1);
  font-weight: bold;
}

.offcanvas-body .nav-item .dropdown-menu .dropdown-item:hover{
  background-color: rgba(155, 172, 191, 1);
}

main {
  text-align: center;
}

main h1 {
  margin-top: 20px;
  font-family: 'Oswald', sans-serif;
  font-family: 'Permanent Marker', cursive;
  font-size: 80px;
  font-weight: bold;
  text-align: center;
  display: inline-block;
  color: #cde3c9;
  height: 100px;
  width: 400px;
  border: 3px solid #273043;
  background: rgba(39, 48, 67, 0.7);
  background: radial-gradient(circle, rgba(73, 29, 41, 0.7) 59%, rgba(39, 48, 67, 0.7) 100%);
}

.productsCon1,
.productsCon2,
.productsCon3 {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.product1,
.product2,
.product3,
.product4,
.product5,
.product6,
.product7,
.product8,
.product9,
.product10,
.product11,
.product12 {
  box-sizing: border-box;
  box-shadow: 0 8px 12px 0 #491d29;
  max-width: 300px;
  max-height: 700px;
  margin-top: 25px;
  margin-right: 10px;
  margin-left: 10px;
  margin-bottom: 20px;
  border: 2px solid rgba(39, 48, 67, 1);
  font-family: arial;
  background: rgba(205, 227, 201, 1);
  background: radial-gradient(circle, rgba(39, 48, 67, 0.5) 22%, rgba(73, 29, 41, 0.4) 100%);
  padding: 10px;
}

.product1 h3,
.product2 h3,
.product3 h3,
.product4 h3,
.product5 h3,
.product6 h3,
.product7 h3,
.product8 h3,
.product9 h3,
.product10 h3,
.product11 h3,
.product12 h3 {
  color: #491d29;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
}

.product1 p,
.product2 p,
.product3 p,
.product4 p,
.product5 p,
.product6 p,
.product7 p,
.product8 p,
.product9 p,
.product10 p,
.product11 p,
.product12 p {
  color: rgba(39, 48, 67, 1);
  font-weight: bold;
  font-size: 16px;
  text-align: center;
}

.product1 .price,
.product2 .price,
.product3 .price,
.product4 .price,
.product5 .price,
.product6 .price,
.product7 .price,
.product8 .price,
.product9 .price,
.product10 .price,
.product11 .price,
.product12 .price {
  color: #cde3c9;
  font-weight: bold;
  font-size: 22px;
  text-align: center;
}

.product1 img,
.product2 img,
.product3 img,
.product4 img,
.product5 img,
.product6 img,
.product7 img,
.product8 img,
.product9 img,
.product10 img,
.product11 img,
.product12 img {
  text-align: center;
  margin: auto;
  max-width: 200px;
  margin: 10px 50px;
  border: 3px solid #491d29;

}

.product1 input,
.product2 input,
.product3 input,
.product4 input,
.product5 input,
.product6 input,
.product7 input,
.product8 input,
.product9 input,
.product10 input,
.product11 input,
.product12 input {
  text-align: center;
  border: 2px solid #491d29;
  margin: 10px 100px;
  color: #491d29;
  font-weight: bold;
  background-color: #cde3c9;
}


.product1 button,
.product2 button,
.product3 button,
.product4 button,
.product5 button,
.product6 button,
.product7 button,
.product8 button,
.product9 button,
.product10 button,
.product11 button,
.product12 button {
  border: 3px solid #491d29;
  background: rgba(108, 135, 157, 0.7);
  padding: 12px;
  color: #491d29;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  width: 50%;
  margin: 10px 70px;
  font-size: 18px;
  cursor: pointer;
}

.product1 button:hover,
.product2 button:hover,
.product3 button:hover,
.product4 button:hover,
.product5 button:hover,
.product6 button:hover,
.product7 button:hover,
.product8 button:hover,
.product9 button:hover,
.product10 button:hover,
.product11 button:hover,
.product12 button:hover {
  background-color: #491d29;
  color: rgba(108, 135, 157, 1);
}

hr {
  border: 2px solid #491d29;
}

footer {
  /*css gradient using three colors from the color palette*/
  background: rgb(53, 36, 39);
  background: linear-gradient(183deg, rgba(73, 29, 41, 0.7) 11%, rgba(145, 151, 174, 0.7) 76%, rgba(52, 74, 91, 0.5) 100%);
  color: #9bacbf;
  padding: 20px 0;
  text-align: center;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  margin-left: 10px;
}

.footer-container div {
  flex: 1;
  text-align: left;
}

.footer-container h3 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
  margin-top: 5px;
}

.footer-container a {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: rgba(73, 29, 41, 1);
  font-weight: bold;
  text-decoration: none;
  font-size: 18px;
}

.footer-container i {
  font-size: 20px;
  color: rgba(73, 29, 41, 1);
  margin-left: 10px;

}

.footer-container a:hover {
  color: #cde3c9;
  text-decoration: none;
}

.footer-container i:hover {
  color: #cde3c9;
  text-decoration: none;
}

.footer-container ul {
  list-style: none;
  padding: 0;
  margin: 0;

}

.footer-container li {
  margin-bottom: 5px;
} 

@media only screen and (max-width: 768px) {
  .my-header h1 {
    font-size: 25px;
  }

  .my-header a {
    font-size: 20px;
  }

  .navbar img {
    height: 80px;
    width: 80px;
    margin-left: 10%;
  }

  .container-fluid .navbar-brand {
    font-size: 20px;
    margin-left: 5%;
  }

  .offcanvas-title#offcanvasNavbarLabel {
    font-size: 30px;
  }

  .offcanvas-body .navbar-nav .nav-item .nav-link {
    font-size: 15px;
  }
}
